<% include ../partials/header %>

<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1>Welcome to housing in ProjectYC</h1>
            <p>Take a look at what's available near you</p>
            <p>
                <a class="btn btn-primary btn-lg" href="/housing/new">Add a new listing</a>
            </p>
            <p>
                <form action="/housing" method="GET" class="form-inline">
                    <div class="form-group">
                        <input type="text" name="search" placeholder="Find a house" class="form-control">
                        <input type="submit" value="search" class="btn btn-default">
                    </div>
                </form>
            </p>
        </div>
    </header>

    <div class="card-deck text-center">
        <div class="col-md-12">
            <% if(noMatch !== null) { %>
            <h3><%= noMatch %></h3>
            <% } %>
        </div>
        <% housing.forEach(function(house){ %>
            <div class="col-md-4 col-sm-6">
                <div class="card">
                    <img class="card-img-top" src="<%= house.image%>"></img> 
                    <div class="card-body">
                        <h5><%= house.name %></h4>
                    </div>
                    <p>
                        <a href="/housing/<%= house._id %>" class="btn btn-primary">More Info</a>
                    </p>
                </div> 
            </div>
        <% }); %>
    </div>
    
    
</div>

<% include ../partials/footer %> 