<% include partials/header %>

<h1>Create a new house </h1>

<form action="/housing" method="POST">
    <input type="test" name="name" placeholder="name"></input>
    <input type="test" name="image" placeholder="image url"></input>
    <button>Submit</button>
</form>

<a href="/housing">Go back</a>

<% include partials/footer %>