nav {
    margin-bottom: 20px;
}

.card .caption-full {
    padding: 9px;
}

.card {
    margin-bottom: 10px;
}

.delete-form {
    display:inline;
}



/* ---------- question Form ------------*/

.question-submit-form {
    width:70%;
    margin: 50px auto;
}

/* ---------- question Edit Form ------------*/

.question-form-group {
    width:70%;
    margin: 50px auto;
}


/* ---------- question Page ------------*/

.card-deck .card {
    margin-bottom: 20px;
}

#question-text-area {
    white-space: pre-wrap;
}


