nav {
    margin-bottom: 20px;
}

.card .caption-full {
    padding: 9px;
}

.card {
    margin-bottom: 10px;
}

.delete-form {
    display:inline;
}



/* ---------- Blog Form ------------*/

.blog-submit-form {
    width:70%;
    margin: 50px auto;
}


