<% include ../partials/header %>

<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1>Welcome to housing in ProjectYC</h1>
            <p>Take a look at what's available near you</p>
        </div>
    </header>
    
    <div class="card-deck text-center">
            <div class="col-md-4 col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h4>Blog Name</h4>
                    </div>
                    <p>
                        This is where a description of the blog will go.
                    </p>
                </div> 
            </div>
    </div>

<% include ../partials/footer %>