<% include ../partials/header %>

<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1>Welcome to housing in ProjectYC</h1>
            <p>Take a look at what's available near you</p>
            <p>
                <a class="btn btn-primary btn-lg" href="/blog/new">Add a new blog</a>
            </p>
        </div>
    </header>
    
    <div class="card-deck text-center">
        <% blog.forEach(function(blog){ %>
            <div class="col-md-4 col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h4><%= blog.name %></h4>
                    </div>
                    <p>
                        <%= blog.description %>
                    </p>
                </div> 
            </div>
        <% }); %>
    </div>

<% include ../partials/footer %>