<% include ../partials/header %>


                <div class="form-group">
                    <h1 style="text-align:center">Create a new post </h1>
                    <div class="blog-submit-form">
                        <form action="/blog" method="POST">
                            <div class="form-group">
                                <input class="form-control" type="text" name="name" placeholder="name"></input>
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="text" name="image" placeholder="image url"></input>
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" maxlength="150" type="text" name="description" placeholder="description" rows="4" onkeypress="return isNumberKey(event)"></textarea>
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" type="text" name="text" placeholder="post" rows="10"></textarea>
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="text" name="tag" placeholder="tag"></input>
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="text" name="tag" placeholder="tag"></input>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary btn-block">Submit</button>
                            </div>
                        </form>
                        <a href="/housing">Go back</a>
                    </div>
                </div>



<% include ../partials/footer %>